<%- include('partials/header.ejs') %>
    <%- include('partials/herosection.ejs') %>
    <section id="docs" class="container">
        <hr class="featurette-divider">
        <h2>About</h2>
        <p> Welcome to the documentation section of the Book Review website.This project focused on creating a dynamic
            website that manages and reviews books, offering users the ability to read, add, edit, and delete book
            details.</p>

        <h3>Project Overview :</h3>
        <p>The Book Review website allows users to interact with a database containing comprehensive details of books.
            Users can read, add, edit, and delete book information, with certain features restricted to authorized
            users.</p>

        <h3>Key Features :</h3>
        <ul>


            <li>
                <h5>Book Database:</h5>
                <p>Stores detailed information about books, including title, author, genre, reviews, and cover images
                    sourced from OpenLibrary.org.</p>
            </li>
            <li>
                <h5> User Interactions :</h5>
            </li>
            <strong>Read :</strong>
            <p>Users can browse through the collection of books and view their details.</p>
            <strong>Sorting :</strong>
            <ul>
                <li><b>By Title :</b> Alphabetically arranges books based on their titles.</li>
                <li><b>By Recency :</b> Sorts books based on publication date or date added, displaying the most recent
                    ones first.</li>
                <li><b>By Rating :</b> Arranges books based on user ratings, showcasing the highest-rated books at the
                    top.</li>
            </ul>
            <br>
            <strong>Add :</strong>
            <p>Authorized users can add new books, including relevant details and cover images.</p>
            <li>
                <h5>Admin Privileges:</h5>
                <p>Editing and deletion features are restricted to authorized administrators.</p>
            </li>
            <li>
                <h5>Integration with OpenLibrary.org :</h5>
                <p>Book cover images are fetched from OpenLibrary.org, enhancing the visual representation of books on
                    the website.</p>
            </li>
        </ul>
        <h3>Challenges and Learning:</h3>
        <p> Challenges and learning experiences included API integration, building a custom API for CRUD operations, and
            implementing PostgreSQL for database management.</p>


        <h3>Conclusion:</h3>
        <p>The completion of the database section, combined with the REST API module, marks a significant milestone in
            the development of the Book Review website "Bookify". Struggles were overcome through dedication,
            collaborative learning, and mentorship, resulting in a comprehensive understanding of database management
            and API integration in web development.</p>


    </section>

    <%- include('partials/footer.ejs') %>